main{
    width: 250px;
    bottom: 0%;
    background: $color1;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: $font3;
    color: $color1;
    h3{
        font-size: 30px;
        margin-bottom: 20px;
        font-family: $font3;
        background-color: $color3;
    }
    .formulario {
        width: 100%;
        background: $color1;
        padding: 5px;
        border-radius: 3px;
        margin-bottom: 10x;
        border: 2px solid;
        font-size: 15px;
        font-family: $font3;
    }
    .textarea {
        width: 105%;
        font-family: $font3;
    }
}
